---
import Layout from "../layouts/BlogPost.astro";
import GlowLineSeparator from "@/components/ui/separator/GlowLineSeparator.astro";
const pageTitle = "About Me";
const pageDescription =
  "Learn more about my background and approach to software development.";
---

<Layout
  author="Naveen Krishna"
  title={pageTitle}
  description={pageDescription}
  pubDate={new Date()}
  showHeader={false}
>
  <p>
    Hey! I'm a software developer who loves developing applications that feel
    great to use.
  </p>
  <p>
    I work across the stack with TypeScript, Node.js, React/Next.js,
    TailwindCSS, Express.js, Mongoose, Drizzle and MonogoDB. I care deeply about
    readable code, strong tests, and observability. My approach: start slow by
    establishing a strong foundation—folder structure, design system, and base
    architecture—so development later is faster, smoother, and less prone to
    bugs.
  </p>
  <p>
    Outside of feature work, I enjoy collaborating, solving problems, and
    building design‑system components that make teams faster. Always
    learning—and always happy to collaborate on meaningful problems.
  </p>

  <GlowLineSeparator />
</Layout>
